mixin breadcrumbs(title, labels)

    section.breadcrumbs
        div.breadcrumbs__list
            a.breadcrumbs__link(href="index.html") Ура!
            each label in labels
                a.breadcrumbs__link(href="")= label
        if title
            h1.breadcrumbs__title= title