mixin header(cl, isAuthorized)

    header.header(class=cl)
        div.container
            div.row
                div.col-12.d-flex.align-items-center.header__content
                    a.header__logo(href="index.html")
                        img(src="img/logo.svg")

                    div.header__language
                        select.header__language-select
                            option RU
                            option EN

                    if isAuthorized
                        div.dropdown
                            button.header__profile(id="profileMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Admin
                            div.dropdown-menu.header__dropdown(aria-labelledby="profileMenuButton")
                                a.dropdown-item(href="") Профиль
                                a.dropdown-item(href="") Мои объвления
                                a.dropdown-item(href="") Диалоги
                                div.dropdown-divider
                                a.dropdown-item(href="") Выйти

                    else
                        a.header__link.header__link--login(data-toggle="modal" data-target="#loginModal") Войти
                        a.header__link.header__link--signup.d-none.d-md-block Регистрация

                    a.button.button--bordered.header__add.d-none.d-lg-flex Добавить объявление