section.numbers
    div.container
        div.row
            div.col-lg-3.col-md-6.col-sm-12.numbers__item
                span.numbers__num 192 286
                span.numbers__text Бесплатных объявлений
            div.col-lg-3.col-md-6.col-sm-12.numbers__item
                span.numbers__num 58 400
                span.numbers__text Пользователей в сервисе
            div.col-lg-3.col-md-6.col-sm-12.numbers__item
                span.numbers__num 37 007
                span.numbers__text Бесплатных объявлений
            div.col-lg-3.col-md-6.col-sm-12.numbers__item
                span.numbers__num 59
                span.numbers__text Городов Украины