section.pagination
    a.pagination__link.pagination__link--active(href="") 1
    a.pagination__link(href="") 2
    a.pagination__link(href="") 3
    a.pagination__link(href="") 4
    span.pagination__link.pagination__link--between ...
    a.pagination__link(href="") 14