section.search
    div.search__container
        p.search__title Покупайте и продавайте электронику на УРА!
        p.search__subtitle Просто, быстро и эффективно

        form.search-block
            div.search-block__left
                div.search-block__left-content
                    input.form-block.search-block__input(type="text" placeholder="Более 12 000 000 товаров в каталоге")
            div.search-block__right
                div.search-block__right-content
                    select.search-block__select(onchange="this.style.color='#282B30'")
                        option Все категории
                        option Текстиль
                        option Сельхоз. товары
                        option Товары для дома
                    button.button.button--violet.search-block__button Найти