.catalog {
  margin: 0 0 20px;
  padding-bottom: 51px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 0;
    padding-bottom: 80px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 60px;
  }
}

.catalog-categories {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;

    @include media-breakpoint-down(lg) {
      justify-content: flex-start;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 10px;
    }

    @include media-breakpoint-down(xs) {
      padding-bottom: 5px;
    }
  }

  &__item {
    margin: 0 5px 10px;
    font-size: 15px;
    line-height: 130%;
    color: $txt;
    transition: 0.3s;
    text-decoration: none!important;
    padding: 5px 15px;
    border: 1px solid $divider;
    border-radius: 50px;

    &:hover {
      color: $blue;
      border-color: $blue;
    }
  }
}

.catalog-start {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(36.23deg, #1FA2FF -0.33%, #12D8FA 49.69%, #A6FFEF 99.7%);
  padding: 4px;

  &__content {
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 54px;

    @include media-breakpoint-down(sm) {
      padding: 30px 20px 37px;
    }

    @include media-breakpoint-down(xs) {
      padding: 20px 25px 30px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 130%;
    color: black;
    margin: 0;
    text-align: center;

    @include media-breakpoint-down(sm) {
      max-width: 280px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 20px;
    }
  }

  &__text {
    color: $txt;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    margin: 15px 0 26px;

    @include media-breakpoint-down(xs) {
      font-size: 15px;
      margin: 10px 0 20px;
    }
  }

  &__button {
    width: 208px;
    height: 60px;
    font-family: $font600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;

    @include media-breakpoint-down(xs) {
      width: 230px;
    }
  }
}