doctype html
html
    head
        meta(http-equiv="text/html" charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Новости | Ура!
        link(rel="stylesheet" type="text/css" href="css/style.min.css")
    body
        // HEADER
        include ../components/header.pug
        +header()

        // SEARCH
        include ../components/search.pug

        // BREADCRUMBS
        include ../components/breadcrumbs.pug
        +breadcrumbs('Новости', ["Молдова"])

        section.content
            div.news-tabs
                a.news-tabs__item.news-tabs__item--active Блог
                a.news-tabs__item Лайфхаки
                a.news-tabs__item
                    span.d-none.d-sm-block Полезные советы
                    span.d-block.d-sm-none Советы

            div.container
                div.news
                    div.row
                        div.col-xl-4.col-md-6.col-sm-12
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                    span.item-card__label Популярное
                                div.item-card__info
                                    a.item-card__name Обзор ideapad C340: производительный ноутбук-трансформер от Lenovo
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284
                        div.col-xl-4.col-md-6.d-none.d-md-flex
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                    span.item-card__label Популярное
                                div.item-card__info
                                    a.item-card__name Huawei запатентовала новый дизайн раскладного смартфона
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284

                        div.col-xl-4.d-none.d-xl-flex
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                    span.item-card__label Популярное
                                div.item-card__info
                                    a.item-card__name Обзор ideapad C340: производительный ноутбук-трансформер от Lenovo
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284

                    div.row
                        div.col-xl-3.col-md-4.col-sm-6
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                div.item-card__info
                                    a.item-card__name Обзор ideapad C340: производительный ноутбук-трансформер от Lenovo
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284
                        div.col-xl-3.col-md-4.col-sm-6
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                div.item-card__info
                                    a.item-card__name В сети появился тизер смартфона ASUS ROG Phone 3
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284
                        div.col-xl-3.col-md-4.col-sm-6
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                div.item-card__info
                                    a.item-card__name Релиз игры Mafia: Definitive Edition перенесли на сентябрь
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284
                        div.col-xl-3.col-md-4.col-sm-6
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                div.item-card__info
                                    a.item-card__name Игра PUBG Mobile получит первую эксклюзивную карту
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284
                        div.col-xl-3.col-md-4.col-sm-6
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                div.item-card__info
                                    a.item-card__name Представлена обновленная версия ноутбука RedmiBook 14 II
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284
                        div.col-xl-3.col-md-4.col-sm-6
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                div.item-card__info
                                    a.item-card__name Игровой смартфон Lenovo Legion засветился на AnTuTu
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284
                        div.col-xl-3.col-md-4.col-sm-6
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                div.item-card__info
                                    a.item-card__name Обзор ideapad C340: производительный ноутбук-трансформер от Lenovo
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284
                        div.col-xl-3.col-md-4.col-sm-6
                            div.item-card.news__card
                                div.item-card__image
                                    img(src="img/item1.png")
                                div.item-card__info
                                    a.item-card__name Moaan при поддержке Xiaomi представила электронную книгу inkPad X
                                div.item-card__bottom
                                    span.item-card__date Вчера 18:24
                                    span.item-card__views 13 284

        // PAGINATION
        include ../components/pagination.pug

        // NUMBERS
        include ../components/numbers.pug

        // FOOTER
        include ../components/footer.pug


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/all-scripts.js"></script>